@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-dark: #124B2B;
  --color-brand-base: #1F6F43;

  --color-gray-100: #F8F9FA;
  --color-gray-200: #E5E7EB;
  --color-gray-300: #D1D5DB;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;
  --color-gray-700: #374151;
  --color-gray-800: #111827;

  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-danger: #EF4444;
  --color-success: #19AD70;

  --color-blue-dark: #1D4ED8;
  --color-blue-base: #2563EB;
  --color-blue-light: #DBEAFE;

  --color-purple-dark: #7E22CE;
  --color-purple-base: #9333EA;
  --color-purple-light: #F3E8FF;

  --color-pink-dark: #BE185D;
  --color-pink-base: #DB2777;
  --color-pink-light: #FCE7F3;

  --color-red-dark: #B91C1C;
  --color-red-base: #DC2626;
  --color-red-light: #FEE2E2;

  --color-orange-dark: #C2410C;
  --color-orange-base: #EA580C;
  --color-orange-light: #FFEDD5;

  --color-yellow-dark: #A16207;
  --color-yellow-base: #CA8A04;
  --color-yellow-light: #F7F3CA;

  --color-green-dark: #15803D;
  --color-green-base: #16A34A;
  --color-green-light: #E0FAE9;

  --default-font-family: 'Inter', sans-serif;

  --font-size-xl: 1.5rem;
  --font-size-lg: 1.125rem;
  --font-size-md: 0.875rem;
  --font-size-sm: 0.75rem;
  --font-size-xs: 0.625rem;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@layer utilities {
  .text-xl {
    font-size: var(--font-size-xl);
    line-height: 2rem;
    font-weight: var(--font-weight-bold);
  }

  .text-lg {
    font-size: var(--font-size-lg);
    line-height: 1.5rem;
    font-weight: var(--font-weight-bold);
  }

  .text-md {
    font-size: var(--font-size-md);
    line-height: 1.125rem;
    font-weight: var(--font-weight-semibold);
  }

  .text-sm {
    font-size: var(--font-size-sm);
    line-height: 1rem;
    font-weight: var(--font-weight-normal);
  }

  .text-xs {
    font-size: var(--font-size-xs);
    line-height: 0.875rem;
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
  }

    .text-label {
      font-size: var(--font-size-md);
      line-height: 1rem;
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-700)
    }

    .text-input {
      font-size: 1rem;
      line-height: 1rem;
      color: var(--color-gray-800)
    }

    .text-input:placeholder-shown {
      font-size: 1rem;
      line-height: 1rem;
      color: var(--color-gray-400)
    }
    .text-button-md {
      font-size: 1rem;
      line-height: 1rem;
      font-weight: var(--font-weight-semibold);
    }
  
    .text-button-sm {
      font-size: var(--font-size-md);
      line-height: 1rem;
      font-weight: var(--font-weight-semibold);
    }
}

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--default-font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--color-gray-100);
  }
}

@layer utilities {
  .animate-loading-bar {
    animation: loadingBar 1.5s ease-in-out infinite;
  }
}
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}